@charset "utf-8";


.dashboard-views{
	position:relative;
	display:block;
	color:#000;
	padding-left:10px;
	height:100%;
	margin:auto;/*230px*/
	width:950px;
}

.dashboard-views .hosp-patient-details-claims-views{ /* change */
	position:relative;
	display:block;
	float:left;
	border:1px solid #ccc;
	width: 46.3%;
	padding:1%;
	margin:0px 1.3% 10px 0px;
	height: 100%;
}
.dashboard-views .hosp-patient-details-claims-views .policy_holder{
	position:relative;
	width:35%;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
}
.dashboard-views .hosp-patient-details-claims-views .patient_info{
	position: relative;
	/* height: 100%; */
	display:block;
	overflow:hidden;

}
.dashboard-views .hosp-patient-details-claims-views .policy_holder_name{
	position:relative;
	width:60%;
	float:right;
	border:1px solid #ccc;
	background-color:#EBEBEB;
	color:#C0C0C0;
	padding:2%;
	}
.dashboard-views .hosp-patient-details-claims-views .insurance_card{
	position: relative;
	background-color: #eee;
	height: 180px;
	margin-top: 20px;
	padding: 2%;
	font-size: 10px;
	padding: 20px;
}
.dashboard-views .hosp-patient-details-claims-views .header{
	background-color: #bb0000;
	position: absolute;
	width: 97%;
	top: 0px;
	left: 0px;
	padding-top: 5px;
	padding-Bottom: 5px;
	padding-left: 3%;
	color: #fff;
	font-size: 18px;
	font-family:"Arial";
}
.inscardcontent td{
	padding-bottom:4px;
	font-weight:bold;

}
.dashboard-views .hosp-patient-details-claims-views .inscardcontent{
	position: absolute;
	top:50px;
	font-family: "Arial";
}
.dashboard-views .hosp-patient-details-claims-views .inscardcontent .leftsec{
	position: relative;
	display: block;
	float: left;
}
.dashboard-views .hosp-patient-details-claims-views .inscardcontent .rightsec{
	position: relative;
	display: block;
	float: left;
	margin: 40px 0px 0px 60px;
}
.dashboard-views .hosp-patient-details-claims-views .footer{
	background-color: #bb0000;
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0px;
	left: 0px;
	color: #fff;
	font-size: 14px;
	font-family:"Arial";
	padding-top: 3px;
	text-align:center;
}


.dashboard-views .hosp-patient-details-claims-views .claim_form{
	position: relative;
	width: 100%;
	margin-top: 20px;
	font-family: Arial;
	font-size: 12px;
}
.dashboard-views .hosp-patient-details-claims-views .claim_form td{
padding-right: 10px;
}
.dashboard-views .hosp-patient-details-claims-views .claim_form input{
	padding: 10px;
	width: 300px;
}
.dashboard-views .hosp-patient-details-claims-views .claim_form input[type=Submit]{
	background-color: #00a65a;
	border: none;
	color: #fff;
	width: 100%;
	cursor: pointer;
}
.dashboard-views .hosp-patient-details-claims-views .claim_form input[value=DISCHARGE],
.dashboard-views .hosp-patient-details-claims-views .claim_form input[value=TARIFF]{
	background-color: #00a65a;
	border: none;
	color: #fff;
	width: 49%;
	float: left;
}
.dashboard-views .hosp-patient-details-claims-views .claim_form input[value=TARIFF]{
	margin-left: 2%;
	background-color: #000;
}
.dashboard-views .hosp-patient-details-claims-views .claim_form input[label=Eligibility],
.dashboard-views .hosp-patient-details-claims-views .claim_form input[label=Extension]{
	width: 20px;
}
