body
{
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}
#header
{
  /* position: relative;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.5); */
}
#footer
{
  /* position: relative;
  width: 100%;
  height: 30px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5); */
}
#wrapper
{
  position: relative;
  min-height: calc(100% - 60px);
  overflow: hidden;
}
.page-wrapper div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #888888;
}
h1{
  color: #B62025;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}
.page-wrapper .left-pannel.pannel-img
{
  background:url("../img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  position: relative;
  float: left;
  height: 100%;
  width: 70%;
}
.right-pannel
{
  position: relative;
  float: left;
  height: 95%;
  width: 27%;
  padding: 1%;
}
#copyright
{
    border: none;
    position: absolute;
    border-top: 1px solid #ccc !important;
    width: 95%;
    bottom: 15px;
}
.checkbox
{
    margin: 20px 10px 0px 0px;
    width: 15px;
    height: 15px;
    padding-top: 10px;
}
input.username,
input.password
{
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc !important;
}
div.logo
{
  background:url("../img/hin-logo.svg");
  background-repeat: no-repeat;
  background-position:center center;
  position: relative;
  background-size: contain;
  width: 100%;
  height: auto;
}
input[type=submit].button {
  background-color: rgba(3, 22, 58, 0.9);
  margin: 20px 0px 0px 0px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  border: none;
  display: block;
}
span.invalid
{
  padding: 5px 12px;
  background-color: rgba(255, 0, 0,0.3);
  border: 1px solid rgba(255, 0, 0,1);
  color: rgba(255, 0, 0,1);
  border-radius: 5px;
  opacity: 0.9;
}

/** Dashboard  **/
.hosp-dashboard-wrapper
{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}
.hosp-dashboard-wrapper header{
	position:relative;
	display:block;
	height:60px;
	width:100%;
	background-color:#fff;
	box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.hosp-dashboard-wrapper #logo{
	position:relative;
	display:block;
	float:left;
	height:90%;
	margin-top:5px;
	margin-left:8px;
}
.hosp-dashboard-wrapper header .search{
	position:relative;
	float:left;
	margin:10px 0px 0px 100px;
}
.hosp-dashboard-wrapper header #user_name{
	position:relative;
	float:right;
	text-align:right;
}
.hosp-dashboard-wrapper header #user_name span{
	position:relative;
	float:right;
	margin:5px 0px 0px 0px;
	padding:20px 25px 0px 0px;
	}
.hosp-dashboard-wrapper header #user_name img{
	height:30px;
	margin-top:15px;
	margin-right:10px;
	border-radius:100px;
}

.hosp-dashboard-wrapper header .search input{
	height: 30px;
	border: 1px thin #ccc;
	width:200px;
	padding-left:15px;
	padding-right:15px;
	margin-right:0px;
}
.hosp-dashboard-wrapper header .search button{
	height: 38px;
	background-color:#B62025;
	border:none;
	border-radius:4px;
	color:#fff;
	padding:0px 15px 0px 15px;
}

.hosp-dashboard-wrapper #dashboard-cont{
	position:absolute;
	top:10%;
	height:100%;
	padding:0px;
	background-color:#F6F6F6;
	width:100%;
}

.hosp-dashboard-wrapper menu{
	position:relative;
	float:left;
	height:100%;
	padding:0px;
	margin:0px;
	background-color:#030E35;
	width:230px;
}
.hosp-dashboard-wrapper menu #profile{
	position:relative;
	display:block;
	width:100%;
	height:170px;
	margin:0px 0px 30px 0px;
	padding:0px;
	top:0px;
	background-color:#02071C;
}

.hosp-dashboard-wrapper menu #prof-dp{
	position:relative;
	display:block;
	height:60%;
	padding:10px;
	margin:0px auto auto auto;
	border-radius:150px;
	text-align:center;

}
.hosp-dashboard-wrapper menu #user{
	color:#fff;
	text-align:center;
}
.hosp-dashboard-wrapper menu a{
	position:relative;
	left:0px;
	color:#ffffff;
	display:block;
	padding:11px 11px 11px 11px;
	width:90%;
	height:10px;
	text-decoration:none;
	margin:5px 0px 0px 0px;
	padding-left:30px;
}
.hosp-dashboard-wrapper menu a:hover{
	background-color:#02071C;
}

.hosp-dashboard-wrapper .dashboard-views{
	position:relative;
	display:block;
	color:#000;
	padding-left:10px;
	height:100%;
	margin-left:230px;
}
.hosp-dashboard-wrapper .dashboard-views h2{
	position:relative;
	display:block;
	margin-left:0px;
	padding:0px;
}
.hosp-dashboard-wrapper .dashboard-views .status-cont{
	position:relative;
	display:block;
	float:left;
	background-color:#B62025;
	width: calc((100% / 4) - 40px);
	height: 90px;
	color:#fff;
	text-align:center;
	padding:10px;
	margin: 10px 7px;
}

.dashboard-views table td div.btn
{
  text-align: center;
  border: 1px solid rgba(200,200,200,1);
  border-radius: 5px;
  padding: 5px 0px;
  margin: 0px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dashboard-views table td div.btn:hover
{
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 1);
}
.hosp-dashboard-wrapper .dashboard-views table{
	background-color:#fff;
	width:98%;
  border-spacing: 0px;
}
.hosp-dashboard-wrapper .dashboard-views table tr{
	position:relative;
	height:30px;
	border:1px solid #000;
	margin:10px;
	padding-top:10px;
}
.hosp-dashboard-wrapper .dashboard-views table th .title{
  font-weight:bold;
}
.hosp-dashboard-wrapper .dashboard-views table tr td,
.hosp-dashboard-wrapper .dashboard-views table th td{
  text-align: center;
}
.hosp-dashboard-wrapper .dashboard-views table tr:nth-last-child(odd)
{
  background-color: rgba(200,200,200,0.3);
}
.hosp-dashboard-wrapper .dashboard-views .status-approve{
	cursor:pointer;
	color:#fff;
	background-color:#00a65a;
	border-radius:2px;
}
.hosp-dashboard-wrapper .dashboard-views .status-declined{
	cursor:pointer;
	color:#fff;
	background-color:#B62025;
	border-radius:2px;
}
.hosp-dashboard-wrapper .dashboard-views .status-pending{
	cursor:pointer;
	background-color:#ccc;
	border-radius:2px;
}
/** dashboard end **/
