html
{
  position: relative;
  height: 100%;
  width: 100%;
}
body
{
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
}
#header
{
  /* position: relative;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.5); */
}
#footer
{
  /* position: relative;
  width: 100%;
  height: 30px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5); */
}
#wrapper
{
  position: relative;
  min-height: calc(100% - 60px);
  width: 100%;
  height: 100%;
}
.page-wrapper
{
  position: relative;
  width: 100%;
  height: 100%;
}
.page-wrapper div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #888888;
}
h1{
  color: #B62025;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}
.page-wrapper .left-pannel.pannel-img
{
  background:url("../img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  position: relative;
  float: left;
  height: 100%;
  width: 70%;
}
.right-pannel
{
  position: relative;
  float: left;
  height: 95%;
  width: 27%;
  padding: 1%;
}
#copyright
{
    border: none;
    position: absolute;
    border-top: 1px solid #ccc !important;
    width: 95%;
    bottom: 15px;
}
.checkbox
{
    margin: 20px 10px 0px 0px;
    width: 15px;
    height: 15px;
    padding-top: 10px;
}
input.username,
input.password
{
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc !important;
    padding-left: 10px;
}
div.logo
{
  background:url("../img/hin-logo.svg");
  background-repeat: no-repeat;
  background-position:center center;
  position: relative;
  background-size: contain;
  width: 100%;
  height: auto;
}
input[type=submit].button {
  background-color: rgba(3, 22, 58, 0.9);
  margin: 20px 0px 0px 0px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  border: none;
  display: block;
}
span.invalid
{
  position: absolute;
  margin-top: 5px;
  padding: 5px 12px;
  background-color: rgba(255, 0, 0,0.3);
  border: 1px solid rgba(255, 0, 0,1);
  color: rgba(255, 0, 0,1);
  border-radius: 5px;
  opacity: 0.9;
}

/** Dashboard  **/
.hosp-dashboard-wrapper
{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}
.hosp-dashboard-wrapper header{
	position:relative;
	width:100%;
	background-color:#fff;
	box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.hosp-dashboard-wrapper #logo{
  position: relative;
  display: block;
  float: left;
  height: 60px;
  width: 220px;
  margin: 5px 0px 4px 0px;
}
.hosp-dashboard-wrapper header .search{
	position:relative;
  display: inline-block;
  margin: 15px 10px 15px 10px;
}
.hosp-dashboard-wrapper header #user_name{
	position:relative;
	float:right;
	text-align:right;
}
.hosp-dashboard-wrapper header #user_name span{
	position:relative;
	float:right;
	margin:5px 0px 0px 0px;
	padding:20px 25px 0px 0px;
	}
.hosp-dashboard-wrapper header #user_name img{
	height:30px;
	margin-top:15px;
	margin-right:10px;
	border-radius:100px;
}

.hosp-dashboard-wrapper header .search input{
	height: 30px;
	border: 1px solid #ccc;
	width:200px;
	padding-left:15px;
	padding-right:15px;
	margin-right:0px;
}
.hosp-dashboard-wrapper header .search button{
	height: 38px;
	background-color:#B62025;
	border:none;
	border-radius:4px;
	color:#fff;
	padding:0px 15px 0px 15px;
}

.hosp-dashboard-wrapper #dashboard-cont{
	position:relative;
  display: flex;
	height:100%;
	padding:0px;
	background-color:#F6F6F6;
	width:100%;
}
#dashboard-cont .dashboard-views .dataTables_wrapper
{
  width: calc(100% - 40px);
  left: 10px;
}
.hosp-dashboard-wrapper menu{
	position:relative;
	float:left;
  left: 0;
	height:100%;
	padding:0px;
	margin:0px;
	background-color:#030E35;
	width:230px;
  overflow: hidden;
  transition: all 1s ease;
}
.hosp-dashboard-wrapper menu #profile{
	position:relative;
	display:block;
	width:100%;
	height:170px;
	margin:0px 0px 30px 0px;
	padding:0px;
	top:0px;
	background-color:#02071C;
}

.hosp-dashboard-wrapper menu #prof-dp{
	position:relative;
	display:block;
	height:60%;
	padding:10px;
	margin:0px auto auto auto;
	border-radius:150px;
	text-align:center;

}
.hosp-dashboard-wrapper menu #user{
	color:#fff;
	text-align:center;
}
.hosp-dashboard-wrapper menu a{
	position:relative;
	left:0px;
	color:#ffffff;
	display:block;
	padding:11px 11px 11px 11px;
	height:10px;
	text-decoration:none;
	margin:5px 0px 0px 0px;
	padding-left:30px;
}
.hosp-dashboard-wrapper menu a:hover{
	background-color:#02071C;
}
.hosp-dashboard-wrapper .dashboard-views{
  position: relative;
  display: block;
  color: #000;
  padding-left: 10px;
  height: 100%;
  top: 0px;
  width: calc(100% - 230px);
  transition: all 1s ease;
}
.hosp-dashboard-wrapper .dashboard-views h2{
	position:relative;
	display:block;
	margin-left:0px;
	padding:0px;
}
.hosp-dashboard-wrapper .dashboard-views .status-cont{
	position:relative;
	display:block;
	float:left;
	background-color:#B62025;
	width: calc((100% / 4) - 40px);
	height: 90px;
	color:#fff;
	text-align:center;
	padding:10px;
	margin: 10px 7px;
  transition: all 0.5s ease;
}

.dashboard-views table.dataTable td div.btn
{
  text-align: center;
  border: 1px solid rgba(200,200,200,1);
  border-radius: 5px;
  padding: 5px 7px;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dashboard-views table.dataTable td div.btn:hover
{
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 1);
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable{
	background-color:#fff;
	width:100% !important;
  border-spacing: 0px;
  counter-reset: rowNumber;
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable tr{
	position:relative;
	height:30px;
	border:1px solid #000;
	margin:10px;
	padding-top:10px;
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable th .title{
  font-weight:bold;
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable tr td,
.hosp-dashboard-wrapper .dashboard-views table.dataTable th td{
  text-align: center;
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable tbody tr
{
  counter-increment: rowNumber;
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    left: 0;
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable tbody tr td.dataTables_empty:first-child::before
{
  content: "";
}
.hosp-dashboard-wrapper .dashboard-views table.dataTable tr:nth-last-child(odd)
{
  background-color: rgba(200,200,200,0.3);
}
.hosp-dashboard-wrapper .dashboard-views .status-approve{
	cursor:pointer;
	color:#fff;
	background-color:#00a65a;
	border-radius:2px;
}
.dataTables_filter
{
  position: relative;
  right: 14px;
  margin-bottom: 10px;
}
.dataTables_info
{
  margin-left: 12px;
}
.dataTables_length
{
  position: relative;
  left: 13px;
}
div.summary
{
  display: flex;
  width: 100%;
  height: calc(100% - 20px);
  margin: auto;
  font-size: 29px;
}
.summary span.seperator
{
  width: 1px;
  height: 95%;
  position: relative;
  border-left: 2px solid;
  margin-top: 1%;
}
.summary div.center
{
  margin: auto;
}
.hosp-dashboard-wrapper .dashboard-views .status-declined{
	cursor:pointer;
	color:#fff;
	background-color:#B62025;
	border-radius:2px;
}
.hosp-dashboard-wrapper .dashboard-views .status-pending{
	cursor:pointer;
	background-color:#ccc;
	border-radius:2px;
}
.hosp-dashboard-wrapper .dashboard-views .customDateRange
{
  position: relative;
  display: flow-root;
  right: 0px;
}
.hosp-dashboard-wrapper .dashboard-views .customDateRange .customDate
{
  position: relative;
  display: inline-block;
  left: calc(100% - 360px);
}
.hosp-dashboard-wrapper .dashboard-views .customDateRange .customDate .customDatePicker
{
  position: relative;
}
.hosp-dashboard-wrapper .dashboard-views .customDateRange .customDate span.calender
{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  right: 0px;
  background-image: url(../img/calendar-icon-svg-13.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.summary .center
{
  position: relative;
  width: calc(50% - 10px);
}

.summary .center .text,
.summary .center .number
{
  position: relative;
  font-size: large;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#dataGrid_filter
{
  display: inline-flex;
}
#dataGrid_filter .customDateRange
{
  margin-right: 10px;
}
#dataGrid_filter .customDateRange .customDate
{
  left: 0px;
}
.menu-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 7px;
  top: 10px;
  background-image: url(images/icons8-menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s ease;
  display: none;
}
.loading{
  opacity: 0.5;
}
@media only screen and (max-width:1110px) {
  .hosp-dashboard-wrapper menu.close
  {
    left: -230px;
    width: 0px;
  }
  .hosp-dashboard-wrapper menu
  {
    position: fixed;
    z-index: 1;
  }
  .hosp-dashboard-wrapper .menu-btn
  {
    display: block;
  }
  .hosp-dashboard-wrapper .menu-btn.open
  {
    left: 236px;
  }
  .hosp-dashboard-wrapper .dashboard-views
  {
    top: 60px;
    width: 100%;
  }
}
@media only screen and (max-width:1024px) {
  .hosp-dashboard-wrapper .dashboard-views .hin-summary
  {
    width: 95%;
    display: flow-root;
    margin: auto;
  }
  .hosp-dashboard-wrapper .dashboard-views .status-cont
  {
    width: 45%;
  }
}
@media only screen and (max-width:740px) {
  .hosp-dashboard-wrapper .dashboard-views .status-cont
  {
    width: 90%;
  }
}
@media only screen and (max-width:930px) {
  .hosp-dashboard-wrapper
  {
    font-size: 12px;
  }
}
@media only screen and (max-width:790px) {
  .hosp-dashboard-wrapper
  {
    font-size: 10px;
  }
  .hosp-dashboard-wrapper header #user_name
  {
    display: none;
  }
  .col1
  {
    display: none;
  }
}
@media only screen and (max-width:790px) {
  .hosp-dashboard-wrapper
  {
    font-size: 10px;
  }
  .hosp-dashboard-wrapper header #user_name
  {
    display: none;
  }
  .col1
  {
    display: none;
  }
}
@media only screen and (max-width:670px) {
  .hosp-dashboard-wrapper
  {
    font-size: 10px;
  }
  .hosp-dashboard-wrapper header #user_name
  {
    display: none;
  }
  .col6
  {
    display: none;
  }
}
@media only screen and (max-width:600px) {
  .col7
  {
    display: none;
  }
}
@media only screen and (max-width:520px) {
  .col3
  {
    display: none;
  }
}
/** dashboard end **/
